* {
    margin: 0;
    padding: 0;
}

:root {
    --header-height: 32px;
    --footer-height: 24px;
    --sidebar-width: 48px;
    --details-width: 256px;
}

.App {
    display: flex;
    flex-wrap: wrap;

    // Style all top level containers
    & > div {
        background-color: rgb(37, 35, 40);
        box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.55);
    }
}

#header {
    height: var(--header-height);
    flex: 0 0 100%;
}

#footer {
    flex: 0 0 100%;
    height: var(--footer-height);
}

#sidebar {
    width: var(--sidebar-width);
}

#display {
    flex-grow: 2;
    height: calc(100vh - var(--header-height) - var(--footer-height));

    display: flex;
    justify-content: center;
    align-items: center;
}

#details {
    width: var(--details-width);
}

#CanvasContainer {
    background: white;
    width: 95%;
    height: 95%;
}
